/* ヘッダー部分 */
#logo{
	width: 40%;
}


nav ul li{
	display:inline-block;
	vertical-align: middle;
	font-size: 9px;
}

nav ul{
	float: right;
	margin-right: 0;
	vertical-align: middle;
}

/* メイン画像 */
.main{
	height: 440px;
	background: no-repeat 50%;
	margin: 0 auto;
	background-image: url(img/main.png);
	background-size: cover;
}

/* コンテンツ部分 */
#wrap{
	width:100%;
	margin-right: auto;
	margin-left: auto;
}

.category_title{
/* 	border-bottom: 1px solid #ccc; */
	padding-bottom: 15px;
	font-size: 11px;
}

span{
	border-top: 1px solid #ccc;
    display: block;
    padding-top: 5px;
}

.articles, .test{
	position: relative;
	
}

.test{
	font-size: 20px;
}

.test::before{
	content:"";
	position: absolute;
	bottom: -6px;
	left:0;
	background: #ff4b46;
	height: 2px;
	width: 100%;	
}

.more{
	font-size: 11px;
	position: absolute;
    top: -5px;
    right: 0;
}

/* カテゴリー */

.category{
	overflow: hidden;
}

.thumbnail{
/* 	float: left; */
	margin-right: 1.1%;
	margin-bottom: 50px;
/* 	width: 32%; */
}

.attention{
	width:100%;
	max-width: 100%;
}

.title{
	text-align: left;
	margin-bottom: 40px;
	margin-top: 5px;
}

.author_box{
	overflow: hidden;
	display: table;
}


.icon{
	display: table-cell;
	vertical-align: middle;
	padding: 0 10px 0 5px;
	width: 60px;
	
}

.face{
	max-width: 100%;
}


.caption{
	display: table-cell;

}

.caption p{
	margin: auto;
}

.detail{
	padding-left: 3px;
}

ul.detail li{
	display: inline-block;
}


/* フッター */
footer{
	background-color: black;
	color: white;
	padding: 50px 0;
	clear: both;
}

.footer_inner{
	margin: 0 auto;
	max-width: 1000px;
}

ul.leftside {
  list-style:none;
}